---
// src/pages/gallery.astro
import Layout from '../layouts/main.astro';
import Navbar from '../components/Navbar.astro';
import ResponsablesGallery from '../components/ResponsablesGallery.astro';
---

<Layout>
  <Navbar />
  <div class="max-w-6xl mx-auto py-8">
    <h1 class="text-3xl font-bold">Responsables Grupo Vías</h1>
    <ResponsablesGallery />
  </div>
</Layout>