---
// src/pages/gallery.astro
import Layout from '../layouts/main.astro';
import Navbar from '../components/Navbar.astro';
import VideoGallery from '../components/VideoGallery.astro';
---

<Layout>
  <Navbar />
  <div class="max-w-6xl mx-auto py-8">
    <h1 class="text-3xl font-bold">Videos de Youtube</h1>
      <VideoGallery />
  </div>
</Layout>