---
// src/components/Navbar.astro
---

<nav class="bg-cream-800">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button
            class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu"
            aria-expanded="false"
            id="mobile-menu-button"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="block h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"
              />
            </svg>
            <svg
              class="hidden h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex-shrink-0">
            <a href="/" class="text-black-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                <img class="h-14 w-auto" src="/logo.jpg" alt="Workflow" />
            </a>
          </div>
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4 mt-5">
              <a href="/" class="text-black-300 hover:bg-green-700 hover:text-blue px-3 py-2 rounded-md text-sm font-medium">Inicio</a>
              <a href="/gallery" class="text-black-300 hover:bg-green-700 hover:text-blue px-3 py-2 rounded-md text-sm font-medium">Defectos</a>
              <a href="/video" class="text-black-300 hover:bg-v-700 hover:text-blue px-3 py-2 rounded-md text-sm font-medium">Videos</a>              
              <a href="/responsables" class="text-black-300 hover:bg-green-700 hover:text-blue px-3 py-2 rounded-md text-sm font-medium">Responsables</a>              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sm:hidden hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <a href="/" class="text-black-300 hover:bg-green-700 hover:text-blue block px-3 py-2 rounded-md text-base font-medium">Inicio</a>
        <a href="/gallery" class="text-black-300 hover:bg-green-700 hover:text-blue block px-3 py-2 rounded-md text-base font-medium">Defectos</a>
        <a href="/video" class="text-black-300 hover:bg-green-700 hover:text-blue block px-3 py-2 rounded-md text-base font-medium">Videos</a>
        <a href="/responsables" class="text-black-300 hover:bg-green-700 hover:text-blue block px-3 py-2 rounded-md text-base font-medium">Responsables</a>
      </div>
    </div>
  </nav>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const menuButton = document.getElementById('mobile-menu-button');
      const mobileMenu = document.getElementById('mobile-menu');
        
      menuButton.addEventListener('click', function() {
        mobileMenu.classList.toggle('hidden');
      });
    });
  </script>