---
import YouTubeEmbed from "./YouTubeEmbed.astro";
// src/components/ImageGallery.astro
const videos = [
  { src: 'IhZJs8qF3QM', alt: 'Video 1' },
  { src: 'lUUw8zEAGxQ', alt: 'Video 2' },
  { src: 'UtyIpCqYxb0', alt: 'Video 3' },
  { src: 'yovsvci-edE', alt: 'Video 4' },
  { src: '7T8yBxqd4Zg', alt: 'Video 5' },
  { src: 'AWgzSsdkiOY', alt: 'Video 6' },
  { src: 'L5Fd8fa_e8c', alt: 'Video 7' },
  { src: 't0iPTCnGnks', alt: 'Video 8' },
  { src: 'hi3hHunXmDE', alt: 'Video 9' },
  { src: 's767kiK5lwU', alt: 'Video 10' },
  { src: 'rZtB9iTELHM', alt: 'Video 11' },
  { src: '8-ziRQc3N7s', alt: 'Video 12' },
];
---

<div class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {videos.map((url) => (
      <YouTubeEmbed url={url.src} />
    ))}
  </div>
</div>
<style>
/* Custom styles for the image gallery */
.container {
  max-width: 1200px;
}
</style>